<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>


  <div ng-if="restroom.status === false"
  class="status-wrap">
    <div ng-click="main.useRestRoom()"
    class="restroom-status not-using">
      <h1 class="restroom-status-text">사용 가능</h1>
      <h3 class="restroom-status-desc">사용하시려면 클릭하세요</h3>
    </div>

    <div ng-if="!restroom.message"
    class="leave-message-wrap">
      <form class="form-inline">
        <div class="form-group">
          <label>한마디</label>
          <input type="text" ng-model="main.message"
          class="form-control leave-message"
          placeholder="남기실 말이 있으면 적어주세요.">
        </div>
        <button ng-click="main.leaveMessage(main.message)" type="submit"
        class="btn btn-default">사용하기</button>
      </form>
    </div>
  </div>

  <div ng-if="restroom.status && (main.model.myId !== restroom.occupiedBy)"
  class="status-wrap">
    <div class="restroom-status using">
      <h1 class="restroom-status-text">사용 중</h1>
      <h3 class="restroom-status-desc">잠시 기다려주세요</h3>
    </div>
    <div ng-if="restroom.message"
    class="leave-message-wrap">
      <img ng-src="{{main.randomAvatar}}" class="avartar-message">
      <div class="arrow-left"></div>
      <span class="tooltip-custom">{{restroom.message}}</span>
    </div>
  </div>

  <div ng-if="restroom.status && (main.model.myId === restroom.occupiedBy)"
  class="status-wrap">
    <div ng-click="main.doneUsingRestRoom()"
    class="restroom-status check-done">
      <h1 class="restroom-status-text">다 쓰셨나요?</h1>
      <h3 class="restroom-status-desc">클릭하시면 사용 가능한</h3>
      <h3 class="restroom-status-desc">상태가 됩니다.</h3>
    </div>

    <div ng-if="restroom.message"
    class="leave-message-wrap">
      <img ng-src="{{main.randomAvatar}}" class="avartar-message">
      <div class="arrow-left"></div>
      <span class="tooltip-custom">{{restroom.message}}</span>
    </div>

    <div ng-if="!restroom.message"
    class="leave-message-wrap">
      <form class="form-inline">
        <div class="form-group">
          <label>한마디</label>
          <input type="text" ng-model="main.message"
          class="form-control leave-message"
          placeholder="남기실 말이 있으면 적어주세요.">
        </div>
        <button ng-click="main.leaveMessage(main.message)" type="submit"
        class="btn btn-default">입력하기</button>
      </form>
    </div>
  </div>

  <div class="history-wrap">
    <h4>오늘의 기록</h4>
    <p ng-repeat="item in main.historyArray.slice().reverse()">
      <span class="point-user-text">익명의 여인</span>
      <span ng-if="!item.finishAt">이 사용 중 입니다.</span>
      <span ng-if="item.finishAt">이 다녀갔습니다.</span>
      <span ng-if="!item.finishAt" class="pull-right">{{item.startAt | amDateFormat: 'HH:mm A'}}</span>
      <span ng-if="item.finishAt" class="pull-right">{{item.finishAt | amDateFormat: 'HH:mm A'}}</span>

    </p>
    <!-- <p><span class="point-user-text">익명의 여인</span>이 사용 중 입니다. <span class="pull-right">10:30</span></p> -->
    <!-- <p><span class="point-user-text">익명의 여인</span>이 다녀갔습니다. <span class="pull-right">10:30</span></p> -->
  </div>
  <!-- <pre>{{restroom}}</pre>
  <pre>{{main.actionArray}}</pre> -->

</div>
